body {
    background-color: rgb(1, 14, 15);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}


/* Change the link color on hover */

li a:hover {
    background-color: #555;
    color: white;
}

nav {
    font-size: 14px;
    font-family: georgia;
}

div {
    width: 119px;
    border: solid 1px;
    padding: 10px 0;
}

p {
    color: red;
}

h1 {
    color: aqua;
    font-family: verdana;
    font-size: 300%;
}

h2 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 160%;
}

h3 {
    color: palevioletred;
}

img {
    border: 7px dotted purple;
    border-radius: 5%;
}

.menu {
    overflow: hidden;
    background-color: goldenrod;
}

.menu a {
    float: left;
    color: maroon;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background: gold;
    color: black;
}

.menu a.active {
    background-color: blue;
}

background: #fb0 background: -webkit-linear-gradient(#fb0, #950);
background: -moz-linear-gradient(#fb0, #950);
background: -ms-linear-gradient(#fb0, #950);
background: -o-linear-gradient(#fb0, #950);
background: linear-gradient(#fb0, #950);